<?xml version="1.0" encoding="utf-8"?>
<MemberType Key="4529f4f5-784c-492e-9034-c1bb07711e87" Alias="standardMember" Level="1">
  <Info>
    <Name>Standard Member</Name>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>2cb28ddd-d550-4270-990d-24ebc25acaca</Key>
      <Name>Comments</Name>
      <Alias>comments</Alias>
      <Definition>b59d7fb3-3fe3-461e-9ecc-0ae6ca2fc652</Definition>
      <Type>GovUk.InlineRichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comments]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="membership">Membership</Tab>
      <CanEdit>true</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>70ae650e-dd07-483d-a4f4-b74aabf31c38</Key>
      <Caption>Membership</Caption>
      <Alias>membership</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MemberType>