<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a71476ad-004d-4b20-8dfe-114cf29ac142" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="99c6d99c-197a-42d6-a4a7-358bbfc2d703">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="51b09c0d-3373-4d2f-8d8d-c72a4f07d968" SortOrder="0">playground</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9a99e7aa-7c58-4255-a523-934ee5ae16d6</Key>
      <Name>Main content blocks</Name>
      <Alias>mainContentBlocks</Alias>
      <Definition>a806a5c9-78ae-402b-9d65-180672baab96</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="home">Home</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cdded1fc-c579-410d-b10d-09e829486f94</Key>
      <Caption>Home</Caption>
      <Alias>home</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>