<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61087d08-5781-4aa9-89c1-cf652adfc9b9" Alias="Home - Markdown editor" Level="1">
  <Info>
    <Name>Home - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>