<?xml version="1.0" encoding="utf-8"?>
<Content Key="1323afa0-18ac-406c-8e70-0f0cb7448059" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-11-13T17:46:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99c6d99c-197a-42d6-a4a7-358bbfc2d703">Home</Template>
  </Info>
  <Properties>
    <mainContentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5fae00a6f3fe4fb09b4b384dbc8acb15",
        "settingsUdi": "umb://element/ae54cbd8036e492e9c2bd2dc7736bf1d"
      },
      {
        "contentUdi": "umb://element/e3ab6abd766141e082f5600de600d614",
        "settingsUdi": "umb://element/c84518c152844e5895b901d92f6722c0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/5fae00a6f3fe4fb09b4b384dbc8acb15",
      "text": ""
    },
    {
      "contentTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "udi": "umb://element/e3ab6abd766141e082f5600de600d614",
      "text": "<p>Warning - Janey is ace</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/ae54cbd8036e492e9c2bd2dc7736bf1d",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "0bac8213-4607-4547-902a-6a9d84b92633",
      "udi": "umb://element/c84518c152844e5895b901d92f6722c0",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    }
  ]
}]]></Value>
    </mainContentBlocks>
  </Properties>
</Content>