<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef330e4c-c26f-4da9-ae13-c63e85027464" Alias="Playground" Level="2">
  <Info>
    <Parent Key="1323afa0-18ac-406c-8e70-0f0cb7448059">Home</Parent>
    <Path>/Home/Playground</Path>
    <Trashed>false</Trashed>
    <ContentType>playground</ContentType>
    <CreateDate>2023-11-15T16:48:08</CreateDate>
    <NodeName Default="Playground" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e91ca90-00f0-4b3b-b677-88e9b65d8857">Playground</Template>
  </Info>
  <Properties>
    <chartContentBlock>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a558e719bb644159a99704151c77261d",
        "settingsUdi": "umb://element/9cec2e7724ec45159e270ffe95f59252"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/a558e719bb644159a99704151c77261d",
      "label": "Mermaid Chart",
      "hint": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/9cec2e7724ec45159e270ffe95f59252",
      "labelIsPageHeading": "0",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    }
  ]
}]]></Value>
    </chartContentBlock>
    <mappingsContentBlock>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bff0c6b9fb6c4f2ca0e711fef39007c9",
        "settingsUdi": "umb://element/2fe3f6da84e842b7bc56b01429a5952e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/bff0c6b9fb6c4f2ca0e711fef39007c9",
      "label": "Mappings",
      "hint": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/2fe3f6da84e842b7bc56b01429a5952e",
      "labelIsPageHeading": "0",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    }
  ]
}]]></Value>
    </mappingsContentBlock>
    <testContentBlock>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2f53f3de40d440abacf3e0763a6554ef",
        "settingsUdi": "umb://element/c62038c32f0b4a46a3b73cba9d97e805"
      },
      {
        "contentUdi": "umb://element/7b8b58fa7d634a83a41ca5dd468f9bd6",
        "settingsUdi": "umb://element/dc6d337ff6db4067ae2bbc65a3cbcaa5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/2f53f3de40d440abacf3e0763a6554ef",
      "label": "Context",
      "hint": ""
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "udi": "umb://element/7b8b58fa7d634a83a41ca5dd468f9bd6",
      "text": "Test"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/c62038c32f0b4a46a3b73cba9d97e805",
      "labelIsPageHeading": "0",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "udi": "umb://element/dc6d337ff6db4067ae2bbc65a3cbcaa5",
      "styleOfButton": "",
      "disabled": "0",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    }
  ]
}]]></Value>
    </testContentBlock>
  </Properties>
</Content>